[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.0"
selenium = "==4.15.2"

[dev-packages]
autopep8 = "==2.0.4"

[requires]
python_version = "3.11"
